* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("fundo1.png");
    background-repeat: repeat;
    background-position: right top;
    background-attachment: fixed;
  }

  h1{
      margin-top: 25%;
      text-align: center;
      font-family: 'Courier New', Courier, monospace;
      font-size: 50pt;
  }